<div class="header">
    <div class="header-in">
        <a href="{{WEB_ROOT}}" class="logo">Ava is learning...</a>
        <div class="header-nav">
            <nav>
                <a href="{{WEB_ROOT}}#javascript">Javascript</a>
                <a href="{{WEB_ROOT}}#jquery">JQuery</a>
                <a href="{{WEB_ROOT}}#css">CSS</a>
                <a href="{{WEB_ROOT}}#html">HTML</a>
                <a href="{{WEB_ROOT}}#other">其它知识</a>
            </nav>
        </div>
        <div class="{{pagecode == 'index' ? 'header-pic-index' : 'header-pic'}}"></div>
    </div>
</div>