{% spaceless %}
    <!doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no"/>
            <title>{{title}}</title>
            <link rel="shortcut icon" href="{{WEB_ROOT}}favicon.ico">
            {% block css %}<link type="text/css" rel="stylesheet" href="{{CSS_PATH}}global.css"/>{% endblock %}
        </head>

        <body>
            {% block body %}
                {% include 'webapp/common/header.html' %}

                <div class="container">
                    {{main | raw}}
                </div>

                {% include 'webapp/common/footer.html' %}
            {% endblock %}

            {% block script %}
                <script src="{{JS_PATH}}jquery/jquery-2.1.3.min.js"></script>
                <script src="{{JS_PATH}}main.js"></script>
            {% endblock %}
            {% block scriptFooter %}
                <script>require('main').init();</script>
            {% endblock %}
        </body>
    </html>
{% endspaceless %}
