{% spaceless %}
    <!doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>{{title}}</title>
            <link rel="shortcut icon" href="{{WEB_ROOT}}favicon.ico">
            {% block css %}<link type="text/css" rel="stylesheet" href="{{CSS_PATH}}global.css"/>{% endblock %}
        </head>

        <body>
            {% block body %}
                {% include 'webapp/common/header.html' %}

                <div class="container">
                    {{main | raw}}
                </div>

                {% include 'webapp/common/footer.html' %}
            {% endblock %}

            {% block script %}{% endblock %}
        </body>
    </html>
{% endspaceless %}
