@charset "utf-8";
/* CSS Document */

#modules .buttons_code h3 { padding: 10px 0 5px; }
.effectList dd { margin-bottom: 20px; padding: 10px; border: 1px solid #ccc; }
.effectList button, .effectList input, .effectList a { margin: 10px; vertical-align: baseline; }

.tab { width: 100%; margin-top:20px; }
.tabTit li { float: left; height:50px; padding-right: 20px; }
.tabCont { clear: both; }
.tabCont_c { display:none; }

/* for FireFox buttons */
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
	border:none;
	padding:0;
}
/* button1 */
button.button1, input.button1, a.button1 {
	background: #e3e3e3;
	border: 1px solid #bbb;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	padding: 10px 15px;
	text-align: center;
	color: #333;
	font: bold 12px/1 Verdana, sans-serif;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	outline: none;
    *width:1;
    *overflow: visible;
}
.button1:hover {
	background: #d9d9d9;
	-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
	box-shadow: inset 0 0 1px 1px #eaeaea;
	color: #222;
}
.button1:active {
	background: #d0d0d0;
	-webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
	box-shadow: inset 0 0 1px 1px #e3e3e3;
	color: #000;
}
@-moz-document url-prefix() {
    input.button1 {
        padding: 8px 15px;
    }
}
/* button2 */
button.button2, input.button2, a.button2 {
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
	background-image: linear-gradient(top, #eeeeee, #cccccc);
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	border-radius: 3px;
	padding: 10px 15px;
	text-align: center;
	color: #333;
	font: bold 12px/1 Verdana, sans-serif;
	text-shadow: 0 1px 0 #eee;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	outline: none;
    *width:1;
    *overflow: visible;
}
.button2:hover {
	background-color: #dddddd;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
	background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: linear-gradient(top, #dddddd, #bbbbbb);
	border: 1px solid #bbb;
	border-bottom: 1px solid #999;
	text-shadow: 0 1px 0 #ddd;
}
.button2:active {
	border: 1px solid #aaa;
	border-bottom: 1px solid #888;
	box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
	-webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}
@-moz-document url-prefix() {
    input.button2 {
        padding: 8px 15px;
    }
}
/* button3 */
button.button3, input.button3, a.button3 {
	background-color: #7fbf4d;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
	background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: linear-gradient(top, #7fbf4d, #63a62f);
	border: 1px solid #63a62f;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
	box-shadow: inset 0 1px 0 0 #96ca6d;
	padding: 10px 15px;
	text-align: center;
	color: #fff;
	font: bold 12px/1 Verdana, sans-serif;
	text-shadow: 0 -1px 0 #4c9021;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	outline: none;
    *width:1;
    *overflow: visible;
}
.button3:hover {
	background-color: #76b347;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
	background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
	background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
	background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
	background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
	background-image: linear-gradient(top, #76b347, #5e9e2e);
	-webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
	box-shadow: inset 0 1px 0 0 #8dbf67;
}
.button3:active {
	border: 1px solid #5b992b;
	border-bottom: 1px solid #538c27;
	-webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
	box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}
@-moz-document url-prefix() {
    input.button3 {
        padding: 8px 15px;
    }
}
/* button4 */
button.button4, input.button4, a.button4 {
	background-color: #d7e5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e5f5), color-stop(100%, #cbe0f5));
	background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -o-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: linear-gradient(top, #d7e5f5, #cbe0f5);
	border-top: 1px solid #abbbcc;
	border-left: 1px solid #a7b6c7;
	border-bottom: 1px solid #a1afbf;
	border-right: 1px solid #a7b6c7;
	border-radius: 20px;
	-webkit-box-shadow: inset 0 1px 0 0 white;
	box-shadow: inset 0 1px 0 0 white;
	padding: 10px 15px;
	text-align: center;
	color: #1a3e66;
	font: bold 12px/1 Verdana, sans-serif;
	text-shadow: 0 1px 1px #fff;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	outline: none;
    *width:1;
    *overflow: visible;
}
.button4:hover {
	background-color: #ccd9e8;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd9e8), color-stop(100%, #c1d4e8));
	background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
	border-top: 1px solid #a1afbf;
	border-left: 1px solid #9caaba;
	border-bottom: 1px solid #96a3b3;
	border-right: 1px solid #9caaba;
	-webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
	box-shadow: inset 0 1px 0 0 #f2f2f2;
	color: #163659;
}
.button4:active {
	border: 1px solid #8c98a7;
	-webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
	box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
}
@-moz-document url-prefix() {
    input.button4 {
        padding: 8px 15px;
    }
}
/* button5 */
button.button5, input.button5, a.button5 {
	background-color: #a5b8da;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
	background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
	background-image: linear-gradient(top, #a5b8da, #7089b3);
	border-top: 1px solid #758fba;
	border-right: 1px solid #6c84ab;
	border-bottom: 1px solid #5c6f91;
	border-left: 1px solid #6c84ab;
	border-radius: 20px;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
	padding: 10px 15px;
	text-align: center;
	color: #fff;
	font: bold 12px/1 Verdana, sans-serif;
	text-shadow: 0 -1px 1px #64799e;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	outline: none;
    *width:1;
    *overflow: visible;
}
.button5:hover {
	background-color: #9badcc;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
	background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
	background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
	background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
	background-image: -o-linear-gradient(top, #9badcc, #687fa6);
	background-image: linear-gradient(top, #9badcc, #687fa6);
	border-top: 1px solid #6d86ad;
	border-right: 1px solid #647a9e;
	border-bottom: 1px solid #546685;
	border-left: 1px solid #647a9e;
	-webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
	box-shadow: inset 0 1px 0 0 #a5b9d9;
}
.button5:active {
	border: 1px solid #546685;
	-webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
	box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
}
@-moz-document url-prefix() {
    input.button5 {
        padding: 8px 15px;
    }
}
/* button6 */
button.button6, input.button6, a.button6 {
	background-color: #ee432e;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
	background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
	background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
	background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
	background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
	background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
	border: 1px solid #951100;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
	box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
	padding: 10px 15px;
	text-align: center;
	color: #fff;
	font: bold 12px/1 Verdana, sans-serif;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	outline: none;
    *width:1;
    *overflow: visible;
}
.button6:hover {
	background-color: #f37873;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
	background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
	background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
	background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
	background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
	background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
}
.button6:active {
	background-color: #d43c28;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
	background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
	background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
	background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
	background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
	background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4);
	box-shadow: inset 0 0 0 1px rgba(255, 115, 100, 0.4);
}
@-moz-document url-prefix() {
    input.button6 {
        padding: 8px 15px;
    }
}
/* button7 */
button.button7, input.button7, a.button7 {
	background: #4162a8;
	border-top: 1px solid #38538c;
	border-right: 1px solid #1f2d4d;
	border-bottom: 1px solid #151e33;
	border-left: 1px solid #1f2d4d;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
	box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
	margin-bottom: 10px;
	padding: 10px 15px;
	text-align: center;
	color: #fff;
	font: bold 12px/1 Verdana, sans-serif;
	text-shadow: 0 -1px 1px #1e2d4d;
	-webkit-background-clip: padding-box;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	outline: none;
    *width:1;
    *overflow: visible;
}
.button7:hover {
	-webkit-box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
	box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
}
.button7:active {
	-webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
	box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
}
@-moz-document url-prefix() {
    input.button7 {
        padding: 8px 15px;
    }
}
/* button8 */
button.button8, input.button8, a.button8 {
	background-color: #9e76e8;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9e76e8), color-stop(50%, #7038e0), color-stop(50%, #6021de), color-stop(100%, #6224de));
	background-image: -webkit-linear-gradient(top, #9e76e8 0%, #7038e0 50%, #6021de 50%, #6224de 100%);
	background-image: -moz-linear-gradient(top, #9e76e8 0%, #7038e0 50%, #6021de 50%, #6224de 100%);
	background-image: -ms-linear-gradient(top, #9e76e8 0%, #7038e0 50%, #6021de 50%, #6224de 100%);
	background-image: -o-linear-gradient(top, #9e76e8 0%, #7038e0 50%, #6021de 50%, #6224de 100%);
	background-image: linear-gradient(top, #9e76e8 0%, #7038e0 50%, #6021de 50%, #6224de 100%);
	border-radius: 3px;
	padding: 10px 15px;
	text-align: center;
	text-shadow: 0 -1px 1px #473569;
	-webkit-background-clip: padding-box;
	color: #fff;
	font: bold 12px/1 Verdana, sans-serif;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	outline: none;
    *width:1;
    *overflow: visible;
}
.button8:hover {
	background-color: #8d69cf;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8d69cf), color-stop(50%, #6332c7), color-stop(50%, #551dc4), color-stop(100%, #561fc4));
	background-image: -webkit-linear-gradient(top, #8d69cf 0%, #6332c7 50%, #551dc4 50%, #561fc4 100%);
	background-image: -moz-linear-gradient(top, #8d69cf 0%, #6332c7 50%, #551dc4 50%, #561fc4 100%);
	background-image: -ms-linear-gradient(top, #8d69cf 0%, #6332c7 50%, #551dc4 50%, #561fc4 100%);
	background-image: -o-linear-gradient(top, #8d69cf 0%, #6332c7 50%, #551dc4 50%, #561fc4 100%);
	background-image: linear-gradient(top, #8d69cf 0%, #6332c7 50%, #551dc4 50%, #561fc4 100%);
	-webkit-background-clip: padding-box;
}
.button8:active {
	background: #4a1aab;
	background: -moz-radial-gradient(50% 31% 0deg, circle cover, rgba(38, 76, 153, 0.4), rgba(11, 23, 46, 0.4)), -moz-linear-gradient(top, #7b5cb5 0%, #572bad 50%, #4a1aab 50%, #4b1bab 100%);
	background: -webkit-gradient(radial, 50% 20%, 75, 50% 50%, 0, from(rgba(38, 76, 153, 0.4)), to(rgba(11, 23, 46, 0.4))), -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #7b5cb5), color-stop(0.5, #572bad), color-stop(0.5, #4a1aab), color-stop(1, #4b1bab));
	color: #ddd;
	-webkit-background-clip: padding-box;
}
@-moz-document url-prefix() {
    input.button8 {
        padding: 8px 15px;
    }
}
/* button9 */
button.button9, input.button9, a.button9 {
	background-color: #759ae9;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #759ae9), color-stop(50%, #376fe0), color-stop(50%, #1a5ad9), color-stop(100%, #2463de));
	background-image: -webkit-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
	background-image: -moz-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
	background-image: -ms-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
	background-image: -o-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
	background-image: linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
	border-top: 1px solid #1f58cc;
	border-right: 1px solid #1b4db3;
	border-bottom: 1px solid #174299;
	border-left: 1px solid #1b4db3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
	box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
	padding: 10px 15px;
	color: #fff;
	font: bold 12px/1 Verdana, sans-serif;
	text-shadow: 0 -1px 1px #1a5ad9;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	outline: none;
    *width:1;
    *overflow: visible;
}
.button9:hover {
	background-color: #5d89e8;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d89e8), color-stop(50%, #2261e0), color-stop(50%, #044bd9), color-stop(100%, #0d53de));
	background-image: -webkit-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
	background-image: -moz-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
	background-image: -ms-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
	background-image: -o-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
	background-image: linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
}
.button9:active {
	border-top: 1px solid #1b4db3;
	border-right: 1px solid #174299;
	border-bottom: 1px solid #133780;
	border-left: 1px solid #174299;
	-webkit-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
	box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
}
@-moz-document url-prefix() {
    input.button9 {
        padding: 8px 15px;
    }
}
/* button10 */
button.button10, input.button10, a.button10 {
	background-color: #52a8e8;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52a8e8), color-stop(100%, #377ad0));
	background-image: -webkit-linear-gradient(top, #52a8e8, #377ad0);
	background-image: -moz-linear-gradient(top, #52a8e8, #377ad0);
	background-image: -ms-linear-gradient(top, #52a8e8, #377ad0);
	background-image: -o-linear-gradient(top, #52a8e8, #377ad0);
	background-image: linear-gradient(top, #52a8e8, #377ad0);
	border-top: 1px solid #4081af;
	border-right: 1px solid #2e69a3;
	border-bottom: 1px solid #20559a;
	border-left: 1px solid #2e69a3;
	border-radius: 20px;
	-webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
	box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
	padding: 10px 15px;
	text-align: center;
	-webkit-background-clip: padding-box;
	color: #fff;
	font: bold 12px/1 Verdana, sans-serif;
	text-shadow: 0 -1px 1px #3275bc;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	outline: none;
    *width:1;
    *overflow: visible;
}
.button10:hover {
	background-color: #3e9ee5;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e9ee5), color-stop(100%, #206bcb));
	background-image: -webkit-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
	background-image: -moz-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
	background-image: -ms-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
	background-image: -o-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
	background-image: linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
	border-top: 1px solid #2a73a6;
	border-right: 1px solid #165899;
	border-bottom: 1px solid #07428f;
	border-left: 1px solid #165899;
	-webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
	box-shadow: inset 0 1px 0 0 #62b1e9;
	text-shadow: 0 -1px 1px #1d62ab;
	-webkit-background-clip: padding-box;
}
.button10:active {
	background: #3282d3;
	border: 1px solid #154c8c;
	border-bottom: 1px solid #0e408e;
	-webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 white;
	box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 white;
	text-shadow: 0 -1px 1px #2361a4;
	-webkit-background-clip: padding-box;
}
button[disabled].button10, button[disabled].button10:hover, button[disabled].button10:active {
	background-color: #dadada;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dadada), color-stop(100%, #f3f3f3));
	background-image: -webkit-linear-gradient(top, #dadada, #f3f3f3);
	background-image: -moz-linear-gradient(top, #dadada, #f3f3f3);
	background-image: -ms-linear-gradient(top, #dadada, #f3f3f3);
	background-image: -o-linear-gradient(top, #dadada, #f3f3f3);
	background-image: linear-gradient(top, #dadada, #f3f3f3);
	border-top: 1px solid #c5c5c5;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #d9d9d9;
	border-left: 1px solid #cecece;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #8f8f8f;
	text-shadow: 0 -1px 1px #ebebeb;
	cursor: not-allowed;
}
@-moz-document url-prefix() {
    input.button10 {
        padding: 8px 15px;
    }
}
/* button11 */
button.button11, input.button11, a.button11 {
	background-color: #8c9cbf;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8c9cbf), color-stop(50%, #546a9e), color-stop(50%, #36518f), color-stop(100%, #3d5691));
	background-image: -webkit-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
	background-image: -moz-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
	background-image: -ms-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
	background-image: -o-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
	background-image: linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
	border: 1px solid #172d6e;
	border-bottom: 1px solid #0e1d45;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
	box-shadow: inset 0 1px 0 0 #b1b9cb;
	padding: 10px 15px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font: bold 12px/1 Verdana, sans-serif;
	text-shadow: 0 -1px 1px #000f4d;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	outline: none;
    *width:1;
    *overflow: visible;
}
.button11:hover {
	background-color: #7f8dad;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f8dad), color-stop(50%, #4a5e8c), color-stop(50%, #2f477d), color-stop(100%, #364c80));
	background-image: -webkit-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
	background-image: -moz-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
	background-image: -ms-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
	background-image: -o-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
	background-image: linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
}
.button11:active {
	-webkit-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
	box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
}
@-moz-document url-prefix() {
    input.button11 {
        padding: 8px 15px;
    }
}
