//block居中
.container{ .container(); }

//浮动、清除浮动
.fl { float:left; }
.fr { float:right; }
.clear{clear: both;}
.clearfix:after { content: "."; clear: both; height: 0; visibility: hidden; display: block; }
.clearfix { *zoom:1;}/* 激发IE中的hasLayout属性 for IE8(Quirks)模式和IE6\7浏览器*/

//文本
.text-left { text-align:left; }
.text-center { text-align:center; }
.text-right { text-align:right; }

.font-normal { font-size: 12px; }
.font-large { font-size: 14px; }

.highlight { color: @highlight; }

//vertical align
.ver-middle {vertical-align: middle;}
.ver-top{vertical-align: top;}

.line-under { text-decoration:underline; }
.line-through { text-decoration:line-through; }
.line-none { text-decoration:none; }

.font-bold{font-weight: bold;}
.font-normal{font-weight: normal;}

//remove style
.nbg { background: none; }
.nbor { border: none; }
.npd { padding: 0; }
.nmg { padding: 0; }

//margin-top
.mt1 { margin-top: 5px; }
.mt2 { margin-top: 10px; }
.mt3 { margin-top: 15px; }
.mt4 { margin-top: 20px; }

//margin-left
.ml1 { margin-left: 5px; }
.ml2 { margin-left: 10px; }
.ml3 { margin-left: 15px; }
.ml4 { margin-left: 20px; }

//显示、隐藏
.hide{display: none;}
.show{display: block;}
.inline-block{display: inline-block;}

//opacity
.opa1 {opacity:0.1; filter:alpha(opacity=10);}
.gray{color:@gray}
.red{color: @red}

//width
.w160{width: 160px;}

//break
.nowrap {white-space: nowrap;}

//页面布局
body {
	background:@body-bg;
}
.main {
    .container();
    min-height: 560px;
    height: auto !important;
    height: 560px;
    padding-bottom: 20px;
}

//other
.syes {
    font-weight: bold;
    color: #397300;
    font-family: '\5b8b\4f53', sans-serif;
}

.sno {
    font-weight: bold;
    color: #d00;
    font-family: '\5b8b\4f53', sans-serif;
}