.textlist {
    display: block;
    border-top: dashed 1px #ccc;
    padding: ((@space-base) - 5) 0;
    width: 100%;
    overflow: hidden;
    &.first {
        border-top: none;
        padding-top: 0;
    }
    li {
        float: left;
        width: 33.3%;
        overflow: hidden;
    }
    a {
        display: block;
        padding: 5px 0 5px 10px;
        white-space: nowrap;
    }
    span {
        color: #999999;
        padding-right: 6px;
    }
}
.imglist + .textlist {

}
@media screen and (max-width: 680px) {
    .textlist li {
        width: 50%;
    }
}
@media screen and (max-width: 340px) {
    .textlist {
        li {
            width: 100%;
        }
        a {
            white-space: normal;
        }
    }
}