// basic
// --------------------------------------------------
@import "basic/variables.less"; //全站统一设置颜色字体等

@import "basic/reset.less";  //初始化

@import "basic/common.less"; //全站通用样式：基础样式、页面布局

@import "basic/form.less"; //表单基础样式

// 公共模块
// --------------------------------------------------
@import "mod/header.less"; //页头

@import "mod/footer.less"; //页脚

@import "mod/back_to_top.less"; //Back to top

@import "mod/index_panel.less"; //section

@import "mod/imglist.less"; //带截图的列表

@import "mod/textlist.less"; //文字列表

@import "mod/article.less"; //文章

@import "mod/plugin.less"; //特效

/*特效*/
#modules h1 {
    border: none;
    padding: 5px 20px 10px
}

#modules h3 {
    color: #b25501;
    font-weight: bold;
    padding: 10px 5px 0;
}

#modules h3 span {
    color: #999999;
    padding-left: 10px;
    font-weight: normal;
}

.column_c {
    width: 934px;
    padding-left: 13px;
}



.tip {
    width: 100%;
    clear: both;
}
