<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="favicon.ico">
<link type="text/css" rel="stylesheet" href="public/css/global.css" />
<title>Ava 的网站</title>
</head>

<body id="homepage">
<div class="wrapper">
    <iframe width="960" align="center" height="125" frameborder="0" scrolling="no" src="header.html"></iframe>
    <div class="main clearfix">
        <div class="column" id="javascript">
            <h2>Javascript</h2>
            <ul class="textlist nbor">
                <li><span>[JS]</span><a href="articles/js/page1.html" target="_blank">获取鼠标坐标</a></li>
                <li><span>[JS]</span><a href="articles/js/page2.html" target="_blank">获取各种宽高及距离</a></li>
                <li><span>[JS]</span><a href="articles/js/page7.html" target="_blank">JS代码备份</a></li>
                <li><span>[JS]</span><a href="articles/js/page6.html" target="_blank">JS字符串的操作</a></li>
                <li><span>[JS]</span><a href="articles/js/page4.html" target="_blank">JS数组的操作</a></li>
                <li><span>[JS]</span><a href="articles/js/page3.html" target="_blank">JS中对象的创建</a></li>
                <li><span>[JS]</span><a href="articles/js/page8.html" target="_blank">jQuery对象与DOM对象的转换</a></li>
                <li><span>[JS]</span><a href="articles/js/page9.html" target="_blank">JS页面跳转</a></li>
                <li><span>[JS]</span><a href="articles/js/page5.html" target="_blank">弹出窗口</a></li>
                <li><span>[JS]</span><a href="articles/js/page10.html" target="_blank">JavaScript模块编程之写法</a></li>
                <li><span>[JS]</span><a href="articles/js/page11.html" target="_blank">JS代码备份</a></li>
                <li><span>[JS]</span><a href="articles/js/page12.html" target="_blank">seajs学习笔记</a></li>
            </ul>
            <ul class="textlist">
                <li><span>[JS]</span><a href="modules/js/htmlEscape/page.html" target="_blank">HTML转义</a></li>
                <li><span>[JS]</span><a href="modules/js/time/page.html" target="_blank">问候语+时钟</a></li>
                <li><span>[JS]</span><a href="modules/js/countdown/page.html" target="_blank">倒计时</a></li>
                <li><span>[JS]</span><a href="modules/js/inputText/page.html" target="_blank">输入框对象练习</a></li>
            </ul>
        </div>
        <div class="column" id="jquery">
            <h2>JQuery</h2>
            <ul class="imglist">
                <!--<li><a href="javascript:void(0)" target="_blank"><img src="images/dfp.gif" alt="查看详细" /><span>学习中</span></a></li>-->
                <li><a href="modules/jq/dropMenu1/page.html" target="_blank"><img src="modules/jq/dropMenu1/effect.gif" alt="查看详细" /><span>多级下拉导航</span></a></li>
                <li><a href="modules/jq/dropMenu2/page.html" target="_blank"><img src="modules/jq/dropMenu2/effect.gif" alt="查看详细" /><span>二级延迟+滑动下拉导航</span></a></li>
                <li><a href='modules/jq/tab1/page.html' target="_blank"><img src="modules/jq/tab1/effect.gif" alt="查看详细" /><span>鼠标单击切换标签的tab页</span></a></li>
                <li><a href='modules/jq/select/page.html' target="_blank"><img src="modules/jq/select/effect.gif" alt="查看详细" /><span>仿select下拉框</span></a></li>
                <li><a href="modules/jq/scroll1/page.html" target="_blank"><img src="modules/jq/scroll1/effect.gif" alt="查看详细" /><span>不带按钮的无缝滚动</span></a></li>
                <li><a href="modules/jq/scroll2/page.html" target="_blank"><img src="modules/jq/scroll2/effect.gif" alt="查看详细" /><span>带按钮的滚动</span></a></li>
                <li><a href="modules/jq/slide1/page.html" target="_blank"><img src="modules/jq/slide1/effect.gif" alt="查看详细" /><span>四种类型的横向滑动</span></a></li>
                <li><a href="modules/jq/imgSize1/page.html" target="_blank"><img src="modules/jq/imgSize1/effect.gif" alt="查看详细" /><span>图片等比缩放(无加载中状态)</span></a></li>
                <li><a href="modules/jq/imgSize2/page.html" target="_blank"><img src="modules/jq/imgSize2/effect.gif" alt="查看详细" /><span>图片等比缩放(有加载中状态)</span></a></li>
                <li><a href="modules/jq/random/page.html" target="_blank"><img src="modules/jq/random/effect.gif" alt="查看详细" /><span>随机显示一张图片</span></a></li>
                <li><a href="modules/jq/imgPlay1/page.html" target="_blank"><img src="modules/jq/imgPlay1/effect.gif" alt="查看详细" /><span>图片播放</span></a></li>
                <li><a href="modules/jq/imgPlay1_2/page.html" target="_blank"><img src="modules/jq/imgPlay1_2/effect.gif" alt="查看详细" /><span>图片播放</span></a></li>
                <li><a href="modules/jq/imgPlay2/page.html" target="_blank"><img src="modules/jq/imgPlay2/effect.gif" alt="查看详细" /><span>图片播放</span></a></li>
                <li><a href="modules/jq/imgPlay3/page.html" target="_blank"><img src="modules/jq/imgPlay3/effect.gif" alt="查看详细" /><span>图片播放</span></a></li>
                <li><a href="modules/jq/imgPlay4/page.html" target="_blank"><img src="modules/jq/imgPlay4/effect.gif" alt="查看详细" /><span>图片播放</span></a></li>
                <li><a href="modules/jq/imgPlay5/page.html" target="_blank"><img src="modules/jq/imgPlay5/effect.gif" alt="查看详细" /><span>图片播放</span></a></li>
                <li><a href="modules/jq/floatMenu/page.html" target="_blank"><img src="modules/jq/floatMenu/effect.gif" alt="查看详细" /><span>浮动菜单</span></a></li>
            </ul>
            <ul class="textlist">
                <li><span>[JQ]</span><a href="modules/jq/inputText/page.html" target="_blank">输入框特效</a></li>
                <li><span>[JQ]</span><a href="javascript:void(0)" target="_blank">学习中</a></li>
                <li><span>[JQ]</span><a href="javascript:void(0)" target="_blank">学习中</a></li>
            </ul>
        </div>
        <div class="column" id="css">
            <h2>CSS</h2>
            <ul class="imglist">
                <li><a href="modules/css/dropMenu1/page.html" target="_blank"><img src="modules/css/dropMenu1/effect.gif" alt="查看详细" /><span>三级下拉导航</span></a></li>
                <li><a href="modules/css/float1/page.html" target="_blank"><img src="modules/css/float1/effect.gif" alt="查看详细" /><span>浮动层</span></a></li>
                <li><a href="modules/css/maxthonLogo/page.html" target="_blank"><img src="modules/css/maxthonLogo/effect.gif" alt="查看详细" /><span>用CSS3写遨游的logo</span></a></li>
                <li><a href="modules/css/css3Buttons/page.html" target="_blank"><img src="modules/css/css3Buttons/effect.gif" alt="查看详细" /><span>用CSS3写的按钮</span></a></li>
            </ul>
            <ul class="textlist">
                <li><span>[CSS]</span><a href="articles/css/page1.html" target="_blank">CSS初始化</a></li>
                <li><span>[CSS]</span><a href="articles/css/page6.html" target="_blank">常用CSS代码</a></li>
                <li><span>[CSS]</span><a href="articles/css/page2.html" target="_blank">最大最小宽度高度</a></li>
                <li><span>[CSS]</span><a href="articles/css/page3.html" target="_blank">莫名奇妙的bug</a></li>
                <li><span>[CSS]</span><a href="articles/css/page4.html" target="_blank">CSS框架学习</a></li>
                <li><span>[CSS]</span><a href="articles/css/page5.html" target="_blank">CSS实现的各种形状</a></li>
                <li><span>[lesscss]</span><a href="articles/css/page7.html" target="_blank">LESSCSS 问题整理</a></li>
            </ul>
        </div>
        <div class="column" id="html">
            <h2>HTML</h2>
            <ul class="textlist nbor">
                <li><span>[HTML]</span><a href="articles/html/page3.html" target="_blank">html 特殊字符转义</a></li>
                <li><span>[HTML]</span><a href="articles/html/page1.html" target="_blank">html 代码备份</a></li>		
                <li><span>[HTML]</span><a href="articles/html/page2.html" target="_blank">分享链接整理</a></li>
            </ul>
        </div>
        <div class="column" id="other">
            <h2>其它知识</h2>
            <ul class="textlist nbor">
                <li><span>[网页设计]</span><a href="articles/mix/page1.html" target="_blank">注意修正网站注册与登录中的不良设计</a></li>
                <li><span>[网站重构]</span><a href="articles/mix/page2.html" target="_blank">模块化——高效重构</a></li>
                <li><span>[设置]</span><a href="articles/mix/page3.html" target="_blank">设置火狐代理附加组件——FoxyProxy</a></li>
                <li><span>[git]</span><a href="articles/mix/page4.html" target="_blank">git 学习笔记（一）</a></li>
                <li><span>[git]</span><a href="articles/mix/page5.html" target="_blank">git 学习笔记（二）</a></li>
                <li><span>[git]</span><a href="articles/mix/page6.html" target="_blank">git 学习笔记（三）—— Generating SSH Keys</a></li>
                <li><span>[git]</span><a href="articles/mix/page10.html" target="_blank">git 学习笔记（四）—— difftool</a></li>
                <li><span>[正则]</span><a href="articles/mix/page9.html" target="_blank">常用正则表达式</a></li>
                <li><span>[seajs][lesscss]</span><a href="articles/mix/page7.html" target="_blank">seajs + lesscss</a></li>
                <li><span>[sublime]</span><a href="articles/mix/page8.html" target="_blank">Sublime 使用笔记</a></li>
            </ul>
        </div>
        <div class="friendlink">
            <h2>常用素材网站</h2>
            <ul>
                <li><a href="http://www.zcool.com.cn/" target="_blank">站酷（ZCOOL）</a></li>
                <li><a href="http://www.lanrentuku.com/" target="_blank">懒人图库</a></li>
                <li><a href="http://www.mypsd.com.cn/" target="_blank">蚂蚁图库</a></li>
                <li><a href="http://www.poluoluo.com/" target="_blank">破洛洛</a></li>
                <li><a href="http://www.sxc.hu/" target="_blank">stock.xchng</a></li>
            </ul>
        </div>
    </div>
    <iframe width="960" align="center" height="47" frameborder="0" scrolling="no" src="footer.html"></iframe>
</div>
</body>
</html>
